<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c39d188a-feb5-41e9-bcf8-cb5b1595858d/resourceGroups/Forms/providers/Microsoft.Web/sites/FormularConcurs</ResourceId>
    <ResourceGroup>Forms</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://formularconcurs-d6f3gfa7ewbyghhn.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://formularconcurs-d6f3gfa7ewbyghhn.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>REDACTED</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>